.menu {
  display: none;
  position: relative;
}

.menu button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 16px;
}

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--menu-bg-color);
}

.menuOverlay ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.menuOverlay ul li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

@media (max-width: 992px) {
  .menu {
    display: block;
  }
}
